@import '../../globalColors.module.scss';


.contentHeader{
    color: $primaryColor;
    height: 85%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    
}