@import "../../globalColors.module.scss";

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    height: 90vh;
    overflow-y: scroll;
  .eachTitle {
    width: 100%;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    .title {
      width: 80%;
    }
    .buttons {
      width: 20%;
      display: flex;
      gap: 1rem;
      
      button{
          cursor: pointer;
          background-color: transparent !important;
          font-size: 2rem;
          border: none;

      }
    }
  }
}
